@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600;900&display=swap');
/* font-family: 'Roboto Slab', serif; */


body{
    background-color: white;
    font-family: 'Roboto Slab', serif;
}


/* #zerostate{
    background-color: rgba(127, 255, 212, 0.326);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
} */


#video{
    position: fixed;
    align-items: center;
    z-index: -1;
    left: 0;
    top: 0;
    max-width: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
    /* background-color: yellowgreen; */
}

button {
    /* background-color: yellowgreen; */
    display: flex;
    padding: 1em;
    justify-content: center;
    /* border-radius: 5px; */
    border-style: none;
    font-family: 'Roboto Slab', serif;
}

.content{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
    height: 80vh;
}

.vorige, .volgende{
    width: 8em;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}

.vorige{
    grid-column: 1;
}

.volgende{
    grid-column: 5;
}

.banner{
    background-color: rgba(238, 0, 255, 0);
    width: 100%;
    grid-column: 2/-2;
    grid-row: 2/5; 

    display: flex;
    flex-direction: column;
    align-items:center;
    
    background-image: url("../Assets/temporaryImg.jpeg");
    /* background-size:cover; */
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;

    border-color: rgb(230, 0, 255);
    border-style:double;
    border-width: 1em;
}

/* article h2{
    justify-self: flex-start;
} */

.informatie{
    background-color: blueviolet;
    padding: 1em;
    /* width: 30em; */
    justify-self: end;
}

h2 {
    background-color: white;
    padding: .2em;

}


/******************************/
/* informatiegedeelte styling */
/******************************/

.toelichting{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    gap: 1em;
    /* border: 2px black; */
    border-color: black;
    border-style:double;
    border-width: 1em;
}
.toelichting h1{
    grid-column: span 3;
}

.opdracht{
    grid-column: 1/3;
}

.toelichting img{
    max-width: 100%;
}

.overProject{
    grid-column: 2/4;
}

.invis{
    display: none;
}

.toelichting .subImg{
    grid-row: 2/4;
}

.toelichting .img3{
    grid-column: 2;
}

.img3, .img4{
    height: max-content;
}